extends layout

block content
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
  script(type='text/javascript', src='/javascripts/client.js')

  div(class='card border-none')
    div(class='card-header text-capitalize m-b-1') Channel: #{channel}
    div(class='card-block p-a-0')
      ol(class='messages list-unstyled overflow-scroll')


  form(class='chat-form bottom-aligned m-b-3 p-b-1', action='', data-channel='#{channel}')
    div(class='container')
      div(class='row')
        div(class='col-md-11 col-xs-9')
          input(id='m', class='form-control' autocomplete='off')
        div(class='col-md-1 col-xs-3')
          button(class='btn btn-default' type='submit') Send
