extends layout

block content
  h1 Channels

  ul(class='list-group m-t-2')
    each channel in channels
      li(class='list-group-item')
        span(class='label label-default label-pill pull-xs-right') 0
        a(class='text-capitalize', href='/channels/#{channel}') #{channel}
